html{
    min-height: 100%;
    position: relative;
}
#nav{
    background-color: #ec703b;
}
#Formulario_Login{
    border: solid 2px #ec703b;
    border-radius: 5px;;
}
#Login_boton{
    border: solid 1px #ec703b;
    background-color: #ec703b;
}
#list-sings{
    border: solid 2px #ec703b ;
    border-radius: 5px;
}
#sing-information{
    border: solid 2px #ec703b ;
    border-radius: 5px;
}
#textos div{
    border: solid 2px #ec703b;
}
#div-form-contactenos{
    border: solid 1px #ec703b ;
    border-radius: 5px;
}
#c{
    border: solid 1px #ec703b ;
    border-radius: 5px;
    outline: #ec703b;
}
#formulario-pqrs input:not(#boton-enviar){
    border:solid 1px #ec703b;
    border-radius: 1px;
    outline: #ec703b;
}
#formulario-pqrs select{
    border:solid 1px #ec703b;
    outline: #ec703b;
}
#formulario-pqrs textarea{
    resize: none;
}
#div-boton-enviar{ 
    border: #ec703b solid 1px;
    padding: 0%;
    background-color: transparent;
}
#boton-enviar{
    background: transparent;
    border: none;
    color: black;
}
#boton-enviar:hover{
    color: aliceblue;
}
#div-boton-enviar:hover{
    background-color: #ec703b;
    color: aliceblue;
}
#imagen-de-opciones{
    padding: 0%;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: auto;
    width: 100%;
    height: auto;
    max-zoom: 5px;
}
#info-contactenos div{
    border: #ec703b solid 1px;
    border-radius: 3px;
}
@media screen and (max-width: 992px){
    #boton_entrar{
        visibility: collapse;
    }
    #contenido-nosotros{
        overflow: scroll;
    }
    #contenido-servicios{
        overflow: scroll;
    }
    #contenido-contactenos{
        overflow-y: scroll;
    }
}