IMPORTANTE PARA LA SUBIDA DE IMAGENES NECESITAMOS INTALAR EN EL SERVIDOR EN ESTE CASOS XAMMP KLA EXTENCION
;extension=gd'  SE INTALA BUSCANDOLA EN LA CONFIGURACION DEL APACHE Y BUSCAMOS "extension=gd" LE QUITAMOS
EL ; PARA INTALAR LA EXTENSION DEBE QUEDAR ASI ----->  extension=gd

Errores detectados sin corregir hasta el momento{
    REGISTRAR A UN USUARIO SIN FOTO DE PERFIL GENERA UN ERROR 
    RECARGAR LA PAGINA CON UN USUARIO ANTES REGISTRADO LO REGISTRA N CANTIDAD DE VECES QUE RECARGE LA PANTALLA
}